
.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
}
.span-col-5{grid-column: span 5 / auto; height: 200px; padding: 0px; margin: 0;}

.span-col-6{grid-column: span 6 / auto; padding: 10px;}

.span-col-3{grid-column: span 3 / auto;}

.span-row-3{grid-row: span 4 / auto;grid-column: span 3;
background-color: rgb(114, 27, 51);
padding: 20px;}

body{
  font-family: 'Raleway', sans-serif;
  background-image: url(images/background.png)
}

.logo{
  grid-column: span 1 / auto; height: 200px; padding: 10px; margin: 0;
  background-color: aqua;
  /* padding: 20px;   */
  /* height: 200px; */
  /* margin: 5px; */
}
.logo .img{
  align-items: center
}
.span-col-5 h1{
  text-align: center;
  background-color: chartreuse;
  background-size: cover;
  height: 200px;
 }

 .span-col-6{
   background-image: url(../images/background_image5.jpg);
   background-repeat:repeat;
   background-size: contain;
 }
 h1{
  color: mediumvioletred;
  text-align: center;
  font-family: 'Sacramento', cursive;
  font-size: 50px;
 }
 .ul{
   text-align: center;
 }
 .form{
  background-color: darkseagreen;
  }
  .span-col-3{
    background-color: darksalmon;
  }
  .output{
    grid-row: span 4 / auto;grid-column: span 3;
    background-color: rgb(114, 27, 51);
    padding: 20px;
    color:black;
  }
  .span-col-6{
    background-color: chartreuse;
  } 

 .span-col-6 .footer{
  background-color: black;
  color: white;
  text-align: center;
 }